@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

p,
* {
  color: #695c4f;
}

body {
  background-color: #fff5eb;
  /* background-color: #f6e0b3; */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px;  */
  text-align: center;
  margin: 0 25%;
}

/* Task items */
/* .taskList ul, */
/* .tasksDone ul { */
/*   text-align: left; */
/*   list-style-type: none; */
/*   margin-bottom: 5px; */
/* } */
/**/
/* .tasksDone ul { */
/*   text-decoration: line-through; */
/* } */

/* Tasks items' buttons */
/* .taskList li button, */
/* .App .inputArea button { */
/*   background-color: #4e4e4e; */
/*   border: none; */
/*   border-radius: 50px; */
/*   cursor: pointer; */
/*   transition: all 0.3s ease 0s; */
/*   padding: 5px 10px; */
/*   margin: 5px; */
/*   color: whitesmoke; */
/* } */
/**/
/* .taskList li button:hover { */
/*   background-color: rgba(0, 136, 169, 0.8); */
/* } */

/* .tasksDone {
} */
